<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Best tour and travel packages for Sikkim, Darjeeling, Bhutan, Thailand and more. Book your dream holiday today!">
    <title>Explorer's</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/Images/logo.png">
    <!--for whatsapp-->
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/Images/logo.png" alt="Logo Image">
            <span class="logo-orange">Explorer's</span>
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" id="destinationLink">
                    Destinations <span class="arrow">▼</span>
                </a>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li><a href="/package?place=sikkim">Sikkim</a></li>
                    <li><a href="/package?place=darjeeling">Darjeeling</a></li>
                    <li><a href="/package?place=Sikkim-Darjeeling">Sikkim-Darjeeling</a></li>
                    <li><a href="/package?place=Gangtok-pelling">Gangtok-Pelling</a></li>
                    <li><a href="/package?place=North-Sikkim">North Sikkim</a></li>
                    <li><a href="/package?place=Andaman">Andaman</a></li>
                    <li><a href="/package?place=Bhutan">Bhutan</a></li>
                    <li><a href="/package?place=Thailand">Thailand</a></li>
                </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/review">Review</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="hero">
        <div class="container">
            <p class="para">Best Destination around the World</p>
            <h1>Where Every Trip Begins a Story</h1>
            <div class="content">
                <p>For Customize Package Contact Us</p>
                <p>+91 6297142056</p>
                <button class="enquiry-btn"><a href="./contact.html">For Enquiry</a></button>
            </div>
        </div>
        <div class="container2">
            <img src="/Images/hero.png" alt="">
        </div>
    </div>
    <div class="destination">
        <h1>Top Destination</h1>
        <div class="cards-container">
            <a href="/package?place=sikkim">
                <div class="cards">
                    <img src="/Images/sikkim.png" alt="Sikkim-image">
                    <h2>Sikkim</h2>
                    <p>New Palace</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=darjeeling">
                <div class="cards">
                    <img src="/Images/darjeeling.png" alt="darjeeling-image">
                    <h2>Darjeeling</h2>
                    <p>Queen of Hills</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=Sikkim-Darjeeling">
                <div class="cards">
                    <img src="/Images/sik-dar.png" alt="sik-dar image">
                    <h2>Sikkim-Darjeeling</h2>
                    <p>Mountains of Hills</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=Gangtok-pelling">
                <div class="cards">
                    <img src="/Images/gan-pell.png" alt="gangtok image">
                    <h2>Gangtok-Pelling</h2>
                    <p>East and West</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=North-Sikkim">
                <div class="cards">
                    <img src="/Images/NorthSikkim.png" alt="North sikkim image">
                    <h2>North-Sikkim</h2>
                    <p>Explore the Mountains</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=Andaman">
                <div class="cards">
                    <img src="/Images/andaman.png" alt="Andaman image">
                    <h2>Andaman</h2>
                    <p>A Piece of Paradise</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=Bhutan">
                <div class="cards">
                    <img src="/Images/bhutan.png" alt="Bhutan image">
                    <h2>Bhutan</h2>
                    <p>Happiness is a place</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
            <a href="/package?place=Thailand">
                <div class="cards">
                    <img src="/Images/thailand.png" alt="Thailand image">
                    <h2>Thailand</h2>
                    <p>Amazing Thailand</p>
                    <p>⏱️ 2 Package Available</p>
                </div>
            </a>
        </div>
    </div>
    <div id="footer"></div>
    <a href="https://wa.me/916297142056" target="_blank" class="whatsapp-float">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
</body>
<script src="/JS/script.js"></script>

</html>