<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CSS/review.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/png" href="/Images/logo.png">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/Images/logo.png" alt="Logo Image">
            <span class="logo-orange">Explorer's</span>
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <h2>Give Your Review</h2>
    <form id="reviewForm">
        <input type="text" id="name" placeholder="Your Name" required>

        <textarea id="message" placeholder="Your Review" required></textarea>

        <div>
            <div class="stars">
                <label><input type="radio" name="rating" value="1"> ⭐</label>
                <label><input type="radio" name="rating" value="2"> ⭐⭐</label>
                <label><input type="radio" name="rating" value="3"> ⭐⭐⭐</label>
                <label><input type="radio" name="rating" value="4"> ⭐⭐⭐⭐</label>
                <label><input type="radio" name="rating" value="5"> ⭐⭐⭐⭐⭐</label>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>

    <hr>

    <h2>All Reviews</h2>
    <div id="reviewContainer"></div>
    <div id="footer"></div>
    <a href="https://wa.me/916297142056" target="_blank" class="whatsapp-float">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
    <script src="/js/review.js"></script>
    <script src="/js/package.js"></script>
</body>

</html>